<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 선언된 Mapper.xml에서 member라는 이름으로 해당 객체를 접근하여 사용가능하다. -->
		<typeAlias alias="address" type="spring.a04_vo.Address"/>
		<typeAlias alias="author" type="spring.a04_vo.Author_detail"/>
		<typeAlias alias="bank" type="spring.a04_vo.Bank_account"/>
		<typeAlias alias="category" type="spring.a04_vo.Category"/>
		<typeAlias alias="community" type="spring.a04_vo.Community"/>
		<typeAlias alias="fav" type="spring.a04_vo.Fav_category"/>
		<typeAlias alias="funding" type="spring.a04_vo.Funding"/>
		<typeAlias alias="GUser" type="spring.a04_vo.Grd_user"/>
		<typeAlias alias="notice" type="spring.a04_vo.Notice"/>
		<typeAlias alias="paycard" type="spring.a04_vo.Paycard_info"/>
		<typeAlias alias="project" type="spring.a04_vo.Project"/>
		<typeAlias alias="review" type="spring.a04_vo.Review"/>
	</typeAliases>
	<mappers>
		<!-- sql을 입력값과 리턴값에 의해 실제 객체를 만들어 주는 xml 선언 위치 지정 -->
		<mapper resource="resource/A01_MemberMapper.xml"/>	
	</mappers>
</configuration>