<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 선언된 Mapper.xml에서 member라는 이름으로 해당 객체를
		접근하여 사용가능하다. -->
		<typeAlias alias="grd_user" type="geulrowding.z01_vo.Grd_user"/>
		<typeAlias alias="project" type="geulrowding.z01_vo.Project"/>
		<typeAlias alias="category" type="geulrowding.z01_vo.Category"/>
		<typeAlias alias="community" type="geulrowding.z01_vo.Community"/>
		<typeAlias alias="projectGrd_user" type="geulrowding.z01_vo.ProjectGrd_user"/>	
	</typeAliases>
	<mappers>
		<!-- sql을 입력값과 리턴값에 의해 실제 객체를 만들어 주는 xml
			선언 위치 지정 -->
		<mapper resource="resource/FundingMapper.xml"/>	

	</mappers>
</configuration>